@font-face {
    font-family: 'arial';
    src: url(../fonts/ArialNarrow.woff2) format('woff2'),
         url(../fonts/ArialNarrow.woff) format('woff');
    font-style: normal;
 }
 @font-face {
    font-family: 'roboto';
    src: url(../fonts/Roboto-Regular.woff2) format('woff2'),
         url(../fonts/Roboto-Regular.woff) format('woff');
    font-style: normal;
 }